.banner{
  position: relative;
  text-align: center;
  color: white;
}
.picture
{
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: white;
}

.centered{
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* p{
    font-size: 12px;
    color: #777777;
    text-transform: uppercase;
    line-height: 28px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
} */

h3{
    color: #000000;
    font-size: 40px;
    margin-top: 14px;
    margin-bottom: 35px;
    font-family: "Satisfy", cursive;
    text-align: center;
}