* {
  margin: 0;
  padding: 0;
}

.banner{
  position: relative;
  text-align: center;
  color: white;
}
.picture
{
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: white;
}

.centered{
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3{
    color: #000000;
    font-size: 40px;
    margin-top: 14px;
    margin-bottom: 35px;
    font-family: "Satisfy", cursive;
    text-align: center;
}



























